@model IEnumerable<EsportPortal.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h2>Teams</h2>
<div class="card-container">
    @foreach (var team in Model)
    {
        <a class="card" href="@Url.Action("Details", "Team", new { id = team.Id })">
            <h3>@team.Name</h3>
            <img src="@team.LogoUrl" alt="@team.Name" />
        </a>
    }
</div>
