@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na Portalu eSportowym poświęconym CS2!</h1>
    <p>Cieszymy się, że do nas dołączyłeś! Nasz portal to miejsce, gdzie każdy fan e-sportu i Counter-Strike 2 znajdzie coś dla siebie. Niezależnie od tego, czy jesteś zapalonym graczem, entuzjastą sceny e-sportowej, czy po prostu ciekawią Cię najnowsze wydarzenia w świecie CS2 – trafiłeś idealnie!</p>

    <p>Co u nas znajdziesz?</p>
    <ul>
        <li>Pro-Graczy: Poznaj sylwetki najlepszych zawodników CS2, ich historie sukcesu, codzienne treningi i techniki, które stosują, aby być na szczycie. Zainspiruj się ich doświadczeniami i wskazówkami.</li>

        <li>Drużyny: Śledź losy najlepszych drużyn e-sportowych, dowiedz się o ich strategiach, taktykach i składach. Analizy meczów, wewnętrzne przetasowania oraz ekskluzywne wywiady z członkami drużyn czekają</li> na Ciebie.

        <li>Społeczność: Dołącz do naszej społeczności, dyskutuj na forum, dziel się swoimi osiągnięciami i poznaj innych pasjonatów CS2.</li>

        <li>Turnieje i Eventy: Śledź najważniejsze wydarzenia e-sportowe, dowiedz się więcej o nadchodzących turniejach i kibicuj swoim ulubionym drużynom.</li>
    </ul>
    Nie czekaj! Zarejestruj się już dziś, aby w pełni korzystać ze wszystkich funkcji naszego portalu. Dołącz do świata CS2 i bądź częścią dynamicznie rozwijającej się społeczności e-sportowej.

    Counter-Strike 2 czeka na Ciebie – zagraj, rywalizuj, zwyciężaj!

    <h3>Razem tworzymy przyszłość e-sportu!.</h3>
</div>
