@model EsportPortal.Models.Tournament

@{
    ViewData["Title"] = "Usuń Turniej";
}

<h2>Usuń Turniej</h2>

<form asp-action="DeleteConfirmed" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Usuń</button>
</form>
<a asp-action="Index">Powrót do listy</a>
