@model EsportPortal.Models.Player

@{
    ViewData["Title"] = "Create Player";
}

<h2>Create Player</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname" />
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Role"></label>
        <select asp-for="Role">
            <option value="Entry Fragger">Entry Fragger</option>
            <option value="AWPer">AWPer</option>
            <option value="Lurker">Lurker</option>
            <option value="Support">Support</option>
            <option value="In-Game Leader">In-Game Leader</option>
        </select>
    </div>
    <button type="submit">Create</button>
</form>
